
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<div class="clear"> </div>
<div class="wrap">
    <div class="content">
        <div class="about">
            <h4>Про нас</h4>
            <div class="section group">
                <div class="col_1_of_3 span_1_of_3 about-frist">
                    <h3>Використання сайту</h3>
                    <a href="#"><img src="~/images/banner.jpg" width="1200" height="160"></a>
                    <p><img src="~/images/quotes_alt.png"> &nbsp;Сайт electronic.com.ua дозволяє Вам переглядати та завантажувати матеріали цього сайту тільки для особистого некомерційного використання, за умови збереження Вами всієї інформації про авторське право та інших відомостей про право власності, що містяться в вихідних матеріалах і будь-яких їхніх копіях. Забороняється змінювати матеріали цього Сайту, а також поширювати або демонструвати їх в будь-якому вигляді або використовувати їх будь-яким іншим чином для суспільних або комерційних цілей. Будь-яке використання цих матеріалів на інших сайтах або в комп'ютерних мережах забороняється.</p>
                </div>
                <div class="col_1_of_3 span_1_of_3 about-centre">
                    <h3>Реєстрація на сайту</h3>
                    <a href="#"><img src="~/images/banner2.jpg" width="1200" height="160"></a>
                    <p><img src="~/images/quotes_alt.png"> &nbsp;Реєструючись на Сайті, Ви погоджуєтеся надати достовірну і точну інформацію про себе і своїх контактних даних. В результаті реєстрації Ви отримуєте логін і пароль, за безпеку яких ви несете відповідальність. Ви також несете відповідальність за всі дії під вашим логіном і паролем на Сайті. У разі втрати реєстраційних даних Ви погоджуєтесь повідомити нам про це.</p>
                </div>
                <div class="col_1_of_3 span_1_of_3 quites">
                    <h3>Відмова від відповідальності</h3>
                    <a href="#"><img src="~/images/banner4.jpg" width="1200" height="160"></a>
                    <blockquote><p><img src="~/images/quotes_alt.png"> &nbsp;Матеріали і послуги цього сайту надаються «як є» без будь-яких гарантій. Elektrovoz не гарантує точності і повноти матеріалів, програм і послуг, що надаються на цьому Сайті. Electronic в будь-який час без повідомлення може вносити зміни в матеріали і послуги, що надаються на цьому Сайті, а також у згадані в них продукти і ціни. У разі старіння матеріалів і послуг на цьому Сайті Electronic не зобов'язаний оновлювати їх. </p></blockquote>
                    <blockquote><p><img src="~/images/quotes_alt.png"> &nbsp;Electronic ні за яких обставин не несе відповідальності за будь-які збитки (включаючи, але не обмежуючись збитком від втрати прибутку, даних або від переривання ділової активності), що виник внаслідок використання, неможливості використання або результатів використання цього сайту.</p></blockquote>
                    <a href="#">- Адміністратор сайту<span> Yablochnikov Volodymyr</span></a>
                </div>
                <div class="clear"> </div>
                <div class="section group">
                    <div class="cont span_2_of_3">
                        <h3>Зворотній зв'язок і коментарі</h3>
                        <p><img src="~/images/quotes_alt.png"> &nbsp;Звертаючись до нас або залишаючи коментарі на сайті, Ви несете відповідальність, що дане повідомлення не є незаконним, шкідливим, загрозливим, наклепницьким, ображає моральність, порушує авторські права, пропагує ненависть і / або дискримінацію людей за расовою, етнічною, статевою, релігійною, соціальною ознаками, містить образи на адресу конкретних осіб або організацій, а також будь-яким іншим чином порушує чинне законодавство України. </p>
                        <p><img src="~/images/quotes_alt.png"> &nbsp;Ви погоджуєтеся, що будь-яке Ваше повідомлення Electronic може видаляти без вашої на те згоди, а також безоплатно використовувати на свій розсуд.</p>
                        <p><img src="~/images/quotes_alt.png"> &nbsp;Electronic не несе відповідальності за будь-яку інформацію розміщену користувачами Сайту.</p>
                    </div>
                    <div class="rsidebar span_1_of_3 about-frist">
                    </div>
                    <div class="clear"> </div>
                    <div class="section group">
                        <div class="cont span_2_of_3">
                            <h3>Використання персональних даних</h3>
                            <p><img src="~/images/quotes_alt.png"> &nbsp;Ми використовуємо різні технології для збору і зберігання інформації, коли Ви відвідуєте сайт Elektrovoz. Це може включати в себе запис одного або декількох куки або анонімних ідентифікаторів. </p>
                        </div>
                        <div class="clear"> </div>
                        <div class="section group">
                            <div class="cont span_2_of_3">
                                <h3>Про магазин</h3>
                                <p><img src="~/images/quotes_alt.png"> &nbsp;З 2021 року інтернет-магазин Electronic пропонує купити товари світових брендів і вітчизняних виробників, які спеціалізуються в області електротехніки і гарантують якість, надійність, безпеку і тривалий термін експлуатації продукції. Товари мають сертифікати якості і гарантії виробника. </p>
                                <p><img src="~/images/quotes_alt.png"> &nbsp;На сайті інтернет-магазину представлені електротовари, які важко знайти в звичайних магазинах. Також можна детально ознайомитися з перевагами та характеристиками електрообладнання, з новинками ринку.</p>
                                <p><img src="~/images/quotes_alt.png"> &nbsp;Представлений широкий асортимент електротоварів заощадить Ваші гроші і час. Наші електротовари використовуються для виробництва, для комунальних об'єктів, для квартири, для будинку, саду або городу.</p>
                                <p><img src="~/images/quotes_alt.png"> &nbsp;Інтернет-магазин електротоварів Electronic знаходиться за адресою: Україна, м. Івано-Франківськ, вул. Шевченка, 31б, індекс: 76250</p>
                            </div>
                            <div class="rsidebar span_1_of_3 about-frist">
                            </div>
                        </div>
                    </div>

        </div>
    </div>

