
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="clear"> </div>
<div class="wrap">
    <div class="content">
        <div class="content-grids">
            <div class="blog">
                <div class="blog-grid">
                    <h4>Блог інтернет-магазину Electronic</h4>
                    <div class="blog-grid-header">
                        <h3>Використання IP-камер на сонячних батареях</h3>
                        <ul>
                            <li><img src="~/images/cal.png" alt="">11 Листопада, 2021</li>
                            <li><img src="~/images/admin.png" alt=""><a href="#">Yablochnikovv</a></li>
                            <li><img src="~/images/post-in.png" alt=""><a href="#">11</a></li>
                        </ul>
                    </div>
                    <div class="image group">
                        <div class="grid images_3_of_1">
                            <img src="~/images/blog1.jpg">
                        </div>
                        <div class="grid span_2_of_3">
                            <p>IP камери відеоспостереження на сонячних батареях мають певні переваги в порівнянні зі звичайними відеокамерами. Стандартні пристрої, звичайно, потрібно підключити до джерела живлення, наприклад, до комутатора PoE. Камери, що працюють на сонячних батареях, одержують енергію від відповідних сонячних панелей, які перетворюють сонячне світло на постійний струм. Це робить їх ідеальним рішенням у місцях, де немає джерел живлення. Також такий варіант може значно спростити встановлення системи відеоспостереження.</p>
                            <div class="button"><span><a href="#">Читати більше</a></span></div>
                        </div>
                    </div>

                </div>
                <div class="blog-grid">
                    <div class="blog-grid-header">
                        <h3>Головні технологічні тенденції 2021 року</h3>
                        <ul>
                            <li><img src="~/images/cal.png" alt="">7 Жовтня, 2021</li>
                            <li><img src="~/images/admin.png" alt=""><a href="#">Kuz</a></li>
                            <li><img src="~/images/post-in.png" alt=""><a href="#">2</a></li>
                        </ul>
                    </div>
                    <div class="image group">
                        <div class="grid images_3_of_1">
                            <img src="~/images/blog2.jpg">
                        </div>
                        <div class="grid span_2_of_3">
                            <p>
                                З технологічної точки зору багато рішень цього року процвітали. І все ж жодне з них не викликало такого інтересу, ентузіазму та запитів, як хмара, імпульс якої має зберегтися в найближчому майбутньому. Але чи це універсальна технологія для вирішення поточних проблем безпеки користувачів? Нижче ми обговорили хмарні та інші поширені технології 2021 року.
                                Хмара в індустрії безпеки у вигляді відеоспостереження або контролю доступу як послуги набирає обертів. За даними MarketsandMarkets, очікується, що ринок VSaaS зросте з 2,2 млрд доларів у 2020 році до 4,7 млрд доларів до 2025 року за середньорічного темпу зростання 16%. Насправді деякі користувачі перейшли в хмару через масу переваг.
                            </p>
                            <div class="button"><span><a href="#">Читати більше</a></span></div>
                        </div>
                    </div>

                </div>
                <div class="blog-grid">
                    <div class="blog-grid-header">
                        <h3>Ринок розумного будинку готовий до сильного росту</h3>
                        <ul>
                            <li><img src="~/images/cal.png" alt="">21 Вересня, 2021</li>
                            <li><img src="~/images/admin.png" alt=""><a href="#">Kulynych</a></li>
                            <li><img src="~/images/post-in.png" alt=""><a href="#">5</a></li>
                        </ul>
                    </div>
                    <div class="image group">
                        <div class="grid images_3_of_1">
                            <img src="~/images/blog3.jpg">
                        </div>
                        <div class="grid span_2_of_3">
                            <p>
                                За даними дослідницької компанії Omdia, попри неспокійний 2020 рік, ринок розумного будинку готовий до виключного зростання, оскільки галузь прагне привнести інтелект в «не дуже розумні» будинки.
                                Розширення за межі традиційних каналів роздрібної торгівлі та традиційних варіантів використання, таких як безпека, буде досягнуто за рахунок партнерських відносин та нових технологій, починаючи від стандарту розумного будинку Matter і закінчуючи Wi-Fi / радарним зондуванням та системами на основі периферії, які глибоко інтегровані в будинки та будівлі.
                                В результаті цієї нової орієнтації світовий ринок розумних будинків, оцінюваний у 60,8 мільярда доларів в 2020 році, за прогнозами, перевищить 178,5 мільярдів доларів в 2025 році, що є середньорічним темпом зростання в 24,1% з 2020-го по 2025. За оцінками Omdia, 19% домогосподарств з широкосмуговим доступом в усьому світі мали розумні домашні пристрої у 2020 році в порівнянні з 10% у 2017 році.
                            </p>
                            <div class="button"><span><a href="#">Читати більше</a></span></div>
                        </div>
                    </div>

                </div>
                <div class="blog-grid">
                    <div class="blog-grid-header">
                        <h3>Розміщення розеток і вимикачів в приміщенні</h3>
                        <ul>
                            <li><img src="~/images/cal.png" alt="">10 Вересня, 2021</li>
                            <li><img src="~/images/admin.png" alt=""><a href="#">Lavruk</a></li>
                            <li><img src="~/images/post-in.png" alt=""><a href="#">3</a></li>
                        </ul>
                    </div>
                    <div class="image group">
                        <div class="grid images_3_of_1">
                            <img src="~/images/blog4.jpg">
                        </div>
                        <div class="grid span_2_of_3">
                            <p>
                                Будинок, офіс або будь-яке інше приміщення без розеток і вимикачів складно уявити. Сучасні виробники електромонтажного устаткування пропонують безліч варіантів, тож такий широкий вибір відкриває багато нових можливостей використання електричних приладів. Але для забезпечення комфорту мало розетку або вимикач світла купити, вони повинні мати продуману локацію, тому важливо спланувати, куди їх монтувати, щоб вони завжди були під рукою.
                                Розташування окремих розеток і вимикачів безпосередньо впливає на комфорт використання електричних пристроїв, а значить, і на розміщення їх в приміщенні. Є деякі правила, дотримуючись яких ви зможете оптимальну модель розетки купити і розмістити її в самому зручному місці.
                                Найважливішим фактором комфортного використання розеток є...
                            </p>
                            <div class="button"><span><a href="#">Читати більше</a></span></div>
                        </div>
                    </div>

                </div>
                <div class="clear"> </div>
                <div class="pagnation">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a>....</li>
                        <li><a href="#">Наступна</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-sidebar">
            <h4>Категорії</h4>
            <ul>
                <li><a href="#">Кабель, провід</a></li>
                <li><a href="#">Автоматика</a></li>
                <li><a href="#">Системи для прокладання кабелю</a></li>
                <li><a href="#">Кабельна арматура</a></li>
                <li><a href="#">Шафи, бокси, корпуси</a></li>
                <li><a href="#">Датчики, розетки, вимикачі, подовжувачі</a></li>
                <li><a href="#">Світлотехніка</a></li>
                <li><a href="#">Вимірювальні прилади</a></li>
                <li><a href="#">Стабілізатори, лічильники, ЯТП, тепла підлога </a></li>
                <li><a href="#">Інструмент, силові роз'єми, хомути, ізолента, маркери</a></li>
                <li><a href="#">Мережеве обладнання </a></li>
                <li><a href="#">Сонячні електростанції</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"> </div>
</div>

