
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="wrap">
    <div class="content">
        <div class="section group">
            <div class="col span_1_of_3">
                <div class="contact_info">
                    <h2>Ми знаходимось тут:</h2>
                    <div class="map">
                        <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83910.11420380304!2d24.647089360015496!3d48.91175184472224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c16c34b0381d%3A0xd6d32394e59e41c2!2z0JjQstCw0L3Qvi3QpNGA0LDQvdC60L7QstGB0LosINCY0LLQsNC90L4t0KTRgNCw0L3QutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNzYwMDA!5e0!3m2!1sru!2sua!4v1638488436021!5m2!1sru!2sua"></iframe><br><small><a href="https://goo.gl/maps/7X6Tsv5YB8ca8Vr96" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
                    </div>
                </div>
                <div class="company_address">
                    <h2>Інформація про компанію :</h2>
                    <p>м. Івано-Франківськ</p>
                    <p>Індекс: 76490, вул. Шевченка, 35б</p>
                    <p>Україна</p>
                    <p>Телефон:(380) 222 666 444</p>
                    <p>Fax: (000) 000 00 00 0</p>
                    <p>Email: <span><a href="yablochnikovv@gmail.com">yablochnikovv@ukr.net</a></span></p>
                    <p>Підписуйтесь на нас в: <span><a href="#">Facebook</a></span>, <span><a href="#">Twitter</a></span></p>
                </div>
            </div>
            <div class="col span_2_of_3">
                <div class="contact-form">
                    <h2>Контактна форма:</h2>
                    <form>
                        <div>
                            <span><label>Ім'я/Логін</label></span>
                            <span><input type="text" value=""></span>
                        </div>
                        <div>
                            <span><label>E-mail</label></span>
                            <span><input type="text" value=""></span>
                        </div>
                        <div>
                            <span><label>Мобільний телефон</label></span>
                            <span><input type="text" value=""></span>
                        </div>
                        <div>
                            <span><label>Опис</label></span>
                            <span><textarea> </textarea></span>
                        </div>
                        <div>
                            <span><input type="submit" value="Submit"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    <div class="clear"> </div>
</div>
    </div>
<div class="clear"> </div>
<div class="top-header">
    <div class="wrap">


