
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="clear"> </div>
<div class="wrap">
    <div class="content">
        <div class="content-grids">
            <div class="error-page">
                <h3>404</h3>
                <h5>A Page Not Found 404 error occurred</h5>
            </div>
                <h4>Популярні товари:</h4>
                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/images/tovar1.jpg">
                        <a href="single.html">АВТ ВИМ RESI9 6kA 1P 6A C SCHNEIDER</a>
                        <h3>220 грн</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Compar" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/images/tovar2.jpeg">
                        <a href="single.html">2-Х ПОЛЮС.ОДНОКЛ.ВИМ-Ч БІЛ.</a>
                        <h3>177 грн.</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Compar" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/images/tovar3.jpeg">
                        <a href="single.html">Вилка євро MAKEL б/з чорна</a>
                        <h3>17 грн</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Compar" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/images/tovar4.jpeg">
                        <a href="single.html">Колодка MAKEL с/з 3 гнізда+вимикач</a>
                        <h3>123 грн</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Compar" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-sidebar">
                <h4>Категорії:</h4>
                <ul>
                    <li><a href="#">Кабель, провід</a></li>
                    <li><a href="#">Автоматика</a></li>
                    <li><a href="#">Системи для прокладання кабелю</a></li>
                    <li><a href="#">Кабельна арматура</a></li>
                    <li><a href="#">Шафи, бокси, корпуси</a></li>
                    <li><a href="#">Датчики, розетки, вимикачі, подовжувачі</a></li>
                    <li><a href="#">Світлотехніка</a></li>
                    <li><a href="#">Вимірювальні прилади</a></li>
                    <li><a href="#">Стабілізатори, лічильники, ЯТП, тепла підлога </a></li>
                    <li><a href="#">Інструмент, силові роз'єми, хомути, ізолента, маркери</a></li>
                    <li><a href="#">Мережеве обладнання </a></li>
                    <li><a href="#">Сонячні електростанції</a></li>
                </ul>
            </div>
        </div>
    <div class="clear"> </div>
</div>
