
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Item Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/css/style2.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
    <!-- title -->
    <!-- //title -->
    <!-- content -->
    <div class="porduct-order-agile">
        <form action="#" method="post">
            <div class="form-group">
                <p>ПІБ</p>
                <input type="text" name="name" placeholder="Volodymyr Yablochnikov" required="">
            </div>
            <div class="form-group">
                <p>Email </p>
                <input type="email" placeholder="example@mail.com" required="">
            </div>
            <div class="form-group">
                <p>Мобільний номер</p>
                <input type="text" name="Phone" placeholder="380-1234-56789" required="">
            </div>
            <div class="main">
                <div class="form-left-to-w3l">
                    <p>Адреса</p>
                    <input type="text" name="address" placeholder="address" required="">
                </div>
                <div class="form-left-to-w3l">
                    <p>Адреса поштового відділення</p>
                    <input type="text" name="address" placeholder="mail address" required="">
                </div>
            </div>
            <div class="main">
                <div class="form-left-to-w3l">
                    <p>Країна</p>
                    <input type="text" name="country" placeholder="country" required="">
                    <div class="clear"></div>
                </div>
                <div class="form-left-to-w3l">
                    <p>Область</p>
                    <input type="text" name="state" placeholder="region" required="">
                    <div class="clear"></div>
                </div>
            </div>
            <div class="main">
                <div class="form-left-to-w3l">
                    <p>Індекс</p>
                    <input type="text" name="Pin code" placeholder="index" required="">
                    <div class="clear"></div>
                </div>
                <div class="form-left-to-w3l">
                    <p>Виберіть місто:</p>
                    <select class="form-control buttom">
                        <option value="">
                            Івано-Франківськ
                        </option>
                        <option value="category2">Київ</option>
                        <option value="category1">Івано-Франківськ</option>
                        <option value="category3">Чернівці</option>
                        <option value="category3">Львів</option>
                        <option value="category3">Тернопіль</option>
                        <option value="category3">Херсон</option>
                        <option value="category3">Харків</option>
                    </select>
                </div>
            </div>
            <div>
            </div>
            <button type="submit" class="btn btn-primary">Замовити</button>
        </form>
    </div>
</body>
</html>