
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="wrap">
    <div class="image-slider">
        <!-- Slideshow 1 -->
        <ul class="rslides" id="slider1">
            <li><img src="~/images/slide1.png" alt=""></li>
            <li><img src="~/images/slide2.png" alt=""></li>
            <li><img src="~/images/slide3.png" alt=""></li>
            <li><img src="~/images/slide4.png" alt=""></li>
            <li><img src="~/images/slide5.png" alt=""></li>
            <li><img src="~/images/slide6.png" alt=""></li>
        </ul>
        <!-- Slideshow 2 -->
    </div>
    <!--End-image-slider---->
</div>
<div class="clear"> </div>
<div class="wrap">
    <div class="content">
        <div class="top-3-grids">
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="/Home/Store/"><img src="~/images/photo1.png"></a>
                    <h3>
                        ITK Кабель связи витая пара F/UTP, кат.5E 2х2х24(0,51мм)AWG solid, LDPE, 500м, черный IEK
                    </h3>
                </div>
                <div class="grid_1_of_3 images_1_of_3 second">
                    <a href="/Home/Store/"><img src="~/images/photo2.png" width="400" height="275"></a>
                    <h3>ITK Кабель связи витая пара U/UTP, кат.5E 2х2х24(0,51мм)</h3>
                </div>
                <div class="grid_1_of_3 images_1_of_3 theree">
                    <a href="/Home/Store/"><img src="~/images/photo3.png"></a>
                    <h3>ITK Кабель связи витая пара U/UTP, кат.6 4x2х23(0,57мм)AWG solid, LDPE, 305м, черный IEK</h3>
                </div>
            </div>
        </div>

        <div class="content-grids">
            <h4>Розпродаж товарів до 25.12.2021:</h4>
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/images/tovar1.jpg">
                    <a href="single.html">АВТ ВИМ RESI9 6kA 1P 6A C SCHNEIDER</a>
                    <h3>220.00 грн</h3>
                    <ul>
                        <li><a class="cart" href="/Home/Store/"> </a></li>
                        <li><a class="i" href="/Home/Single/"> </a></li>
                        <li><a class="Compar" href="/Home/Index/"> </a></li>
                        <li><a class="Wishlist" href="/Home/Index/"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/images/tovar2.jpeg">
                    <a href="single.html">2-Х ПОЛЮС.ОДНОКЛ.ВИМ-Ч БІЛ.</a>
                    <h3>177.00 грн.</h3>
                    <ul>
                        <li><a class="cart" href="/Home/Store/"> </a></li>
                        <!-- <button class="add-to-cart-button">В кошик</button> -->
                        <li><a class="i" href="/Home/Index/"> </a></li>
                        <li><a class="Compar" href="/Home/Index/"> </a></li>
                        <li><a class="Wishlist" href="/Home/Index/"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/images/tovar3.jpeg">
                    <a href="single.html">Вилка євро MAKEL б/з чорна</a>
                    <h3>17.00 грн</h3>
                    <ul>
                        <li><a class="cart" href="/Home/Store/"> </a></li>
                        <li><a class="i" href="/Home/Index/"> </a></li>
                        <li><a class="Compar" href="/Home/Index/"> </a></li>
                        <li><a class="Wishlist" href="/Home/Index/"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/images/tovar4.jpeg">
                    <a href="single.html">Колодка MAKEL с/з 3 гнізда+вимикач</a>
                    <h3>123.00 грн</h3>
                    <ul>
                        <li><a class="cart" href="/Home/Store/"> </a></li>
                        <li><a class="i" href="/Home/Index/"> </a></li>
                        <li><a class="Compar" href="/Home/Index/"> </a></li>
                        <li><a class="Wishlist" href="/Home/Index/"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/images/tovar13.jpg">
                    <a href="single.html">Світильник LED ДКУ 1002-150Ш 5000К IP65</a>
                    <h3>72.00 грн</h3>
                    <ul>
                        <li><a class="cart" href="/Home/Store/"> </a></li>
                        <li><a class="i" href="/Home/Index/"> </a></li>
                        <li><a class="Compar" href="/Home/Index/"> </a></li>
                        <li><a class="Wishlist" href="/Home/Index/"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/images/tovar6.jpg">
                    <a href="single.html">Захист від перенапруги Volt-control VC-01-32</a>
                    <h3>540.00 грн</h3>
                    <ul>
                        <li><a class="cart" href="/Home/Store/"> </a></li>
                        <li><a class="i" href="/Home/Index/"> </a></li>
                        <li><a class="Compar" href="/Home/Index/"> </a></li>
                        <li><a class="Wishlist" href="/Home/Index/"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/images/tovar7.jpg">
                    <a href="single.html">Стабілизатор напруги Volter Smart - 22</a>
                    <h3>45 060.00 грн</h3>
                    <ul>
                        <li><a class="cart" href="/Home/Store/"> </a></li>
                        <li><a class="i" href="/Home/Index/"> </a></li>
                        <li><a class="Compar" href="/Home/Index/"> </a></li>
                        <li><a class="Wishlist" href="/Home/Index/"> </a></li>
                    </ul>
                </div>
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <img src="~/images/tovar8.jpg">
                    <a href="single.html">Кнопка AE-22 "Грибок" з фіксацією</a>
                    <h3>110.21 грн</h3>
                    <ul>
                        <li><a class="cart" href="/Home/Store/"> </a></li>
                        <li><a class="i" href="/Home/Index/"> </a></li>
                        <li><a class="Compar" href="/Home/Index/"> </a></li>
                        <li><a class="Wishlist" href="/Home/Index/"> </a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="content-sidebar">
            <h4>Категорії:</h4>
            <ul>
                <li><a href="#">Кабель, провід</a></li>
                <li><a href="#">Автоматика</a></li>
                <li><a href="#">Системи для прокладання кабелю</a></li>
                <li><a href="#">Кабельна арматура</a></li>
                <li><a href="#">Шафи, бокси, корпуси</a></li>
                <li><a href="#">Датчики, розетки, вимикачі, подовжувачі</a></li>
                <li><a href="#">Світлотехніка</a></li>
                <li><a href="#">Вимірювальні прилади</a></li>
                <li><a href="#">Стабілізатори, лічильники, ЯТП, тепла підлога </a></li>
                <li><a href="#">Інструмент, силові роз'єми, хомути, ізолента, маркери</a></li>
                <li><a href="#">Мережеве обладнання </a></li>
                <li><a href="#">Сонячні електростанції</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"> </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/responsiveslides.min.js"></script>
<script>// You can also use "$(window).load(function() {"
			    $(function () {

			      // Slideshow 1
			      $("#slider1").responsiveSlides({
			        maxwidth: 1600,
			        speed: 600
			      });
			});</script>

