
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="clear"> </div>
<div class="wrap">
    <div class="content">
        <div class="content-grids">
            <div class="details-page">
                <div class="back-links">
                    <ul>
                        <li><a href="/Home/Index/">Головна</a><img src="~/images/arrow.png" alt=""></li>
                        <li><a href="#">Автоматика</a><img src="~/images/arrow.png" alt=""></li>
                        <li><a href="#">Автоматичні Вимикачі</a><img src="~/images/arrow.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="detalis-image">
                <div class="image group">
                        <img src="~/images/tovar1.jpg" width="270" height="350">
                    </div>
                </div>
                <div class="detalis-image-details">
                    <div class="details-categories">
                        <ul>
                            <li><h3>Category:</h3></li>
                            <li><a href="#">Автоматика</a></li>
                            <li class="active1"><a href="#"><span>Автоматичні Вимикачі</span></a></li>
                        </ul>
                    </div><br />
                    <div class="brand-value">
                        <h3>АВТ ВИМ RESI9 6kA 1P 6A C SCHNEIDER</h3>
                        <div class="left-value-details">
                            <ul>
                                <li>Price:</li>
                                <li><span>250 грн</span></li>
                                <li><h5>220 грн</h5></li>
                                </br>
                                <li><p>Безкоштовна доставка кур'єром! </p></li>
                            </ul>
                        </div>
                        <div class="right-value-details">
                            <a href="/Home/Index/">Розпродаж</a>
                            <p>25/12/21</p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="brand-history">
                        <h3>Опис :</h3>
                        <p>Відома компанія Schneider Electric випустила нову серію модульного обладнання Resi9. Дана модель є автоматичним вимикачем, який можна зустріти в розподільних щитках приватного або багатоквартирного будинку. Його основна функція полягає у захисті ланцюга від короткого замикання чи струмів навантаження. Струмообмежуючий пристрій типу C шириною 1 модуль має 1 захищений полюс і розрахований на напругу мережі змінного струму 230 Вольт. Номінальний струм 6 Ампер. Автомат типу C застосовується для захисту ланцюгів з обладнанням, що має середні пускові струми: кондиціонери, холодильники, пилососи, кулери тощо. Вимикаюча можливість пристрою становить 6 кАмпер. Це сила струму короткого замикання, коли обладнання може багаторазово відключатися, не виходячи з ладу. Зовнішньо автоматичний вимикач є компактним приладом білого кольору, який має рукоятку на передній панелі з вказівником I/O (увімкнено/вимкнено). Установка здійснюється на DIN-рейці завширшки 35 мм шляхом простого замикання. </p>
                        <a href="/Home/Store/">В кошик</a></li>
                    </div>
                    <div class="share">
                        <ul>
                            <li><a href="https://twitter.com/?lang=ru"><img src="~/images/twitter.png" title="twitter" />Twitter</a></li>
                            <li><a href="https://www.facebook.com/"><img src="~/images/facebook.png" title="Facebook" />Facebook</a></li>
                            <li><a href="https://ru.wikipedia.org/wiki/RSS"><img src="~/images/rss.png" title="Rss" />Rss</a></li>
                        </ul>
                    </div>
                    <div class="clear"> </div>

                </div>
                <div class="clear"> </div>
                <div class="menu_container">
                    <p class="menu_head">Габарити автомату:<span class="plusminus">+</span></p>
                    <div class="menu_body" style="display: none;">
                        <p>
                            Висота – 81 мм;
                            <br>Ширина – 18 мм;
                            <br>Глибина – 72 мм;
                            <br>Вага – 120 г.<br />
                        </p>
                    </div>
                    <p class="menu_head">Характеристики<span class="plusminus">+</span></p>
                    <div class="menu_body" style="display: none;">
                        <p>
                            Виробник - SCHNEIDER ELECTRIC;
                            <br>Кіл-сть полюсів - 1Р;
                            <br>Номінальний робочий струм, А - 6;
                            <br>Серія - Домова;
                            <br>Тип монтажу - На DIN-рейку;
                            <br>Частота, Гц - 50/60;
                            <br>Термін використання - 10 років.<br />
                        </p>
                    </div>
                </div>
            </div>

    </div>
    <div class="content-sidebar">
        <h4>Категорії</h4>
        <ul>
            <li><a href="#">Кабель, провід</a></li>
            <li><a href="#">Автоматика</a></li>
            <li><a href="#">Системи для прокладання кабелю</a></li>
            <li><a href="#">Кабельна арматура</a></li>
            <li><a href="#">Шафи, бокси, корпуси</a></li>
            <li><a href="#">Датчики, розетки, вимикачі, подовжувачі</a></li>
            <li><a href="#">Світлотехніка</a></li>
            <li><a href="#">Вимірювальні прилади</a></li>
            <li><a href="#">Стабілізатори, лічильники, ЯТП, тепла підлога </a></li>
            <li><a href="#">Інструмент, силові роз'єми, хомути, ізолента, маркери</a></li>
            <li><a href="#">Мережеве обладнання </a></li>
            <li><a href="#">Сонячні електростанції</a></li>
        </ul>
    </div>
</div>
<div class="clear"> </div>

<script src="js/jquery.min.js"></script>
<script src="js/jqzoom.pack.1.0.1.js" type="text/javascript"></script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script src="js/imagezoom.js"></script>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script>// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});</script>
<!----->
<script>$(document).ready(function(){
			$(".menu_body").hide();
			//toggle the componenet with class menu_body
			$(".menu_head").click(function(){
				$(this).next(".menu_body").slideToggle(600);
				var plusmin;
				plusmin = $(this).children(".plusminus").text();

				if( plusmin == '+')
				$(this).children(".plusminus").text('-');
				else
				$(this).children(".plusminus").text('+');
			});
		});</script>

