
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="clear"> </div>
<div class="wrap">
    <div class="content">
        <div class="content-grids">

            <div align="left" style="min-height:800px;">

                <div id="cart_wrapper" align="center">

                    <form action="#" id="cart_form" name="cart_form">

                        <div class="cart-info"> </div>

                        <div class="cart-total">

                            <b>Повна сума:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> <span>0</span> грн

                            <input type="hidden" name="total-hidden-charges" id="total-hidden-charges" value="0" />
                        </div>
                        <!--   @Html.ActionLink("Замовити", "Index3", "Home", new { @class = "nav-link" }) -->
                        <button type="submit" id="Submit" value="Замовити" class="btn btn-primary" onclick="location.href='/Home/Index3'">Замовити</button>

                    </form>
                </div>

                <div id="wrap" align="center">

                    <a id="show_cart" href="javascript:void(0)">Переглянути кошик</a>

                    <ul>
                        <li id="1">
                            <img src="~/images/tovar1.jpg" class="items" alt="" />

                            <br clear="all" />
                            <div>АВТ ВИМ RESI9 6KA 1P 6A C SCHNEIDER</div>
                        </li>

                        <li id="2">
                            <img src="~/images/tovar2.jpeg" class="items" alt="" />

                            <br clear="all" />
                            <div>2-Х ПОЛЮС.ОДНОКЛ.ВИМ-Ч БІЛ.</div>
                        </li>

                        <li id="3">
                            <img src="~/images/tovar3.jpeg" class="items" alt="" />

                            <br clear="all" />
                            <div>Вилка євро MAKEL б/з чорна</div>
                        </li>
                        <li id="4">
                            <img src="~/images/tovar4.jpeg" class="items" alt="" />

                            <br clear="all" />
                            <div>Колодка MAKEL с/з 3 гнізда+вимикач</div>
                        </li>

                        <!-- Деталі внутрі боксу та опис товару -->

                        <div class="detail-view" id="detail-1">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar1.jpg" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>АВТ ВИМ RESI9 6kA 1P 6A C SCHNEIDER</label>
                                <br clear="all" />

                                <p>
                                    Відома компанія Schneider Electric випустила нову серію модульного обладнання Resi9. Дана модель є автоматичним вимикачем, який можна зустріти в розподільних щитках приватного або багатоквартирного будинку. Його основна функція полягає у захисті ланцюга від короткого замикання чи струмів навантаження. 
                                    Струмообмежуючий пристрій типу C шириною 1 модуль має 1 захищений полюс і розрахований на напругу мережі змінного струму 230 Вольт. Номінальний струм 6 Ампер. Автомат типу C застосовується для захисту ланцюгів з обладнанням, що має середні пускові струми: кондиціонери, холодильники, пилососи, кулери тощо. 
                                    Вимикаюча можливість пристрою становить 6 кАмпер. Це сила струму короткого замикання, коли обладнання може багаторазово відключатися, не виходячи з ладу. Зовнішньо автоматичний вимикач є компактним приладом білого кольору, який має рукоятку на передній панелі з вказівником I/O (увімкнено/вимкнено).

                                    <br clear="all" /><br clear="all" />
                                    <span class="price">220.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>


                        </div>
                        <div class="detail-view" id="detail-2">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar2.jpeg" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>2-Х ПОЛЮС.ОДНОКЛ.ВИМ-Ч БІЛ.</label>
                                <br clear="all" />

                                <p>
                                    Вимикач 2-полюсний 10А, бел.. серія продукту: Sedna - маркування: символ і quot; сміттєвий бак і quot;. Переваги Sedna, професійна серія ЕУІ, яку по праву оцінили електрики. Вона має ряд переваг у зручності та трудомісткості монтажу:.. застосування: Цивільне та житлове будівництво.

                                    <br clear="all" /><br clear="all" />
                                    <span class="price">177.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view" id="detail-3">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar3.jpeg" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Вилка євро MAKEL б/з чорна</label>
                                <br clear="all" />


                                <p>
                                    Електрична розбірна штепсельна вилка Makel 10051 без заземлення призначена для приєднання (роз'єднання) до електромережі різних електричних приладів побутового призначення.
                                    Корпус пристроїв виконаний із самозагасаючого АБС-пластику, що забезпечує міцність, термостійкість виробів та стійкість до дії сонячних променів. Використовується кабельна вилка Makel 10051 для підключення електрообладнання та електроінструменту у житлових приміщеннях (будинки, квартири тощо);
                                    об'єктах комерційної нерухомості (офіси, торгові центри тощо); інфраструктурних об'єктах (лікарні, школи тощо).
                                    <br clear="all" /><br clear="all" />
                                    <span class="price">17.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view" id="detail-4">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar4.jpeg" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Колодка MAKEL с/з 3 гнізда+вимикач</label>
                                <br clear="all" />

                                <p>
                                    Колодка електрична MAKEL MGP 211, 3 розетки із заземленням та вимикачем.
                                    Корпус виконаний з ударостійкого термопластика білого кольору, захищений від ультрафіолету (не вигоряє і деформується).
                                    У цій моделі є вбудований вимикач (автомат) - за допомогою якого можна відключати живлення цієї колодки, так-же вимикач виконує функцію захисту від навантажень і струмів КЗ.
                                    Максимально допустиме електричне навантаження на колодку 3600 Вт.
                                    <br clear="all" /><br clear="all" />
                                    <span class="price">123.00</span>  грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>

                        <!-- ТОВАРИ -->

                        <li id="5">
                            <img src="~/images/tovar13.jpg" class="items" alt="" />

                            <br clear="all" />
                            <div>Світильник LED ДКУ 1002-150Ш 5000К IP65</div>
                        </li>

                        <li id="6">
                            <img src="~/images/tovar6.jpg" class="items" alt="" />

                            <br clear="all" />
                            <div>Захист від перенапруги Volt-control VC-01-32</div>
                        </li>

                        <li id="7">
                            <img src="~/images/tovar7.jpg" class="items" alt="" />

                            <br clear="all" />
                            <div>Стабілизатор напруги Volter Smart - 22</div>
                        </li>
                        <li id="8">
                            <img src="~/images/tovar8.jpg" class="items" alt="" />

                            <br clear="all" />
                            <div>Кнопка AE-22 "Грибок" з фіксацією</div>
                        </li>

                        <!-- Деталі внутрі боксу та опис товару -->

                        <div class="detail-view" id="detail-5">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar13.jpg"  width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Світильник LED ДКУ 1002-150Ш 5000К IP65</label>
                                <br clear="all" />

                                <p>
                                    Литий корпус світильника виконаний з алюмінієвого сплаву, що забезпечує оптимальне відведення тепла від електронних компонентів.
                                    Обтічна форма світильника дає високу вітростійкість - менше навантаження на опору.
                                    Порошкове покриття надійно зберігає світильник від корозії протягом усього терміну служби.
                                    Кріплення на трубу діаметром 40-60мм – найбільш поширені настановні розміри для такого типу світильників.
                                    <br clear="all" /><br clear="all" />
                                    <span class="price">72.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view" id="detail-6">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar6.jpg"  width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Захист від перенапруги Volt-control VC-01-32</label>
                                <br clear="all" />

                                <p>
                                    Реле контролю напруги від ТМ Volter - це надійний та якісний захист нашої побутової техніки від перевантажень у мережі.
                                    Принцип роботи реле контролю напруги полягає у здійсненні контролю за значеннями напруги в мережі та, у разі виникнення різких змін за межі встановлених діапазонів, відбувається відключення подачі електроенергії. При поверненні показників напруги в заданий діапазон автоматично відновлюється подача енергії.
                                    <br clear="all" /><br clear="all" />
                                    <span class="price">540.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view" id="detail-7">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar7.jpg"  width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Стабілизатор напруги Volter Smart - 22</label>
                                <br clear="all" />

                                <p>
                                    Smart-22 – однофазний стабілізатор напруги для квартири або будинку максимальною потужністю 22 кВт, відноситься до серії Volter Smart, призначений для забезпечення стабілізованою напругою всіх видів електроспоживачів при живленні від мережі з незадовільною якістю напруги. Це пристрій подвійного перетворення без накопичення енергії.
                                    <br clear="all" /><br clear="all" />
                                    <span class="price">45060.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view"  id="detail-8">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar8.jpg"  width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Кнопка AE-22 "Грибок" з фіксацією</label>
                                <br clear="all" />

                                <p>
                                    Кнопки керування та перемикачі призначені для оперативного управління контакторами (магнітними пускачами) та реле автоматики в електричних ланцюгах змінного струму частотою 50 Гц, напругою до 660 В або постійного струму напругою до 400 В. Різноманітні варіанти кольору дозволяють найбільш ефективно компонувати щити та панелі. Всі вироби складаються з двох вузлів - швидкознімної головки та контактного модуля. Контактна група чорного кольору – замикаюча (1з), коричневого кольору – розмикаюча (1р).
                                    Переваги:
                                    Незначна вартість, висока надійність та простота монтажу. Широкий асортимент дозволяє укомплектувати шафу будь-якої складності.
                                    <br clear="all" /><br clear="all" />
                                    <span class="price">10.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>

                        <!-- ТОВАРИ -->

                        <li id="9">
                            <img src="~/images/tovar9.jpeg" width="300" height="300" class="items" alt="" />

                            <br clear="all" />
                            <div><span class="name"></span><span class="price"></span>Вольтметр ZUBR V3</div>
                        </li>

                        <li id="10">
                            <img src="~/images/tovar10.png" width="300" height="300" class="items" alt="" />

                            <br clear="all" />
                            <div><span class="name">Гільза ГМА-185/240 мідно-алюмінієва з"єднувальна IEK </span> </div>
                        </li>

                        <li id="11">
                            <img src="~/images/tovar11.jpg" width="300" height="300" class="items" alt="" />

                            <br clear="all" />
                            <div>Мережева сонячна станція на 8 кВт</div>
                        </li>

                        <li id="12">
                            <img src="~/images/tovar12.jpg" width="300" height="300" class="items" alt="" />

                            <br clear="all" />
                            <div><span class="name">Датчик руху ДД 008 білий, макс. навант. 1100Вт, кут 180град </span></div>
                        </li>

                        <!-- Деталі внутрі боксу та опис товару -->

                        <div class="detail-view" id="detail-9">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar9.jpeg" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Вольтметр ZUBR V3 </label>
                                <br clear="all" />

                                <p>
                                    Багатофункціональне однофазне реле напруги від українського бренду ZUBR, застосовується в однофазних мережах змінного струму 230 В. Призначене для захисту обладнання від перенапруги та надмірних коливань напруги в мережі. Коли напруга в мережі виходить за межі, реле вимикає навантаження. Реле вимикає навантаження, коли перевищуються встановлені значення. При відновленні напруги реле відновлює живлення пристроїв. Тривалість затримки можна настроїти від 3 до 600 секунд.

                                    <br clear="all" /><br clear="all" />
                                    <span class="price">80.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view" id="detail-10">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar10.png" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Гільза ГМА-185/240 мідно-алюмінієва з"єднувальна IEK</label>
                                <br clear="all" />

                                <p>
                                    Гільзи ГМА з боку алюмінію забезпечені ковпачком, який захищає внутрішню частину гільзи від утворення оксидної плівки, що негативно впливає на провідність місця з'єднання гільзи та кабелю.
                                    Перетин провідників з міді або алюмінію, що з'єднуються, визначається маркуванням гільзи. Перша цифра в маркуванні вказує переріз мідного провідника, наступний після знаку дробу - переріз алюмінієвого провідника. Наприклад, гільза ГМА-16/25 дозволяє з'єднати провідники з міді перетином 16 мм2 та алюмінію перетином 25 мм2.
                                    Гільзи ГМА з боку алюмінію забезпечені ковпачком, який захищає внутрішню частину гільзи від утворення оксидної плівки, що негативно впливає на провідність місця з'єднання гільзи та кабелю.
                                    <br clear="all" /><br clear="all" />
                                    <span class="price">110.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view" id="detail-11">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar11.jpg" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Мережева сонячна станція на 8 кВт </label>
                                <br clear="all" />

                                <p>
                                    Якщо ви хочете стати незалежним, то найкращий спосіб це зробити – купити комплект сонячної електростанції для вашого будинку. Використовуючи сонячну станцію, ви зможете не тільки отримати енергонезалежність від зовнішньої електричної мережі, але й продаючи надлишки за "зеленим тарифом", скоро зможете окупити свої витрати на покупку обладнання для станції.
                                    У комплекті сонячної станції використовуються сучасні сонячні панелі та інвертор ТМ CHINT. В комплект входять 32 сонячні панелі CHSM6610P-270 з потужністю кожної панелі 270 Вт та інвертор CPS SCA10KTL-T/EU потужністю 10 кВт.
                                    <br clear="all" /><br clear="all" />
                                    <span class="price">139000.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view" id="detail-12">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar12.jpg" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Датчик руху ДД 008 білий, макс. навант. 1100Вт, кут 180град</label>
                                <br clear="all" />

                                <p>
                                    Датчики призначені для автоматичного включення та вимкнення навантаження в заданому інтервалі часу в залежності від наявності об'єктів, що рухаються, в зоні виявлення датчика і рівня освітленості.
                                    Відповідають ГОСТ Р 51324.2.1-99.
                                    Корпус датчика виконаний з пластику, що не підтримує горіння (полікарбонат).
                                    Як комутуючий навантаження елемента використано електромеханічне реле.
                                    <br clear="all" /><br clear="all" />
                                    <span class="price">233.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>

                        <!-- ТОВАРИ -->

                        <li id="13">
                            <img src="~/images/tovar14.jpeg" class="items" alt="" />

                            <br clear="all" />
                            <div><span class="name">Прожектор СДО 07-150 світлодіодний IP65 IEK</span>  </div>
                        </li>

                        <li id="14">
                            <img src="~/images/tovar15.jpg" class="items" alt="" />

                            <br clear="all" />
                            <div><span class="name">Ультрафіолетовий світлодіодний світильник  </span>  </div>
                        </li>

                        <li id="15">
                            <img src="~/images/tovar16.jpeg" class="items" alt="" />

                            <br clear="all" />
                            <div><span class="name">Вилка стаціонарна ССИ-523 32А-6ч/200-250В</span>  </div>
                        </li>

                        <li id="16">
                            <img src="~/images/tovar17.jpg" class="items" alt="" />

                            <br clear="all" />
                            <div><span class="name">Колодка підключення КП-125 (125А)</span>  </div>
                        </li>

                        <!-- Деталі внутрі боксу та опис товару -->

                        <div class="detail-view" id="detail-13">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar14.jpeg" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Прожектор СДО 07-150 світлодіодний IP65 IEK </label>
                                <br clear="all" />

                                <p>
                                    Прожектори світлодіодні потужністю 10, 20, 30, 50, 70 Вт призначені для декоративного та фасадного підсвічування будівель, підсвічування рекламних конструкцій, пам'ятників, колон, дерев, відкритих просторів та об'єктів, спортивних споруд, а також промислових зон.
                                    Підходять як внутрішнього, так зовнішнього застосування.
                                    Прожектори потужністю 100, 150 і 200 Вт призначені для зовнішнього та ландшафтного освітлення будівель, споруд, складських об'єктів, площ, парків, автостоянок, рекламних стендів, скульптур, пам'ятників, стадіонів, а також для декоративного підсвічування фасадів будівель та об'єктів, що потребують високопотужного підсвічування.
                                    <br clear="all" /><br clear="all" />
                                    <span class="price">1906.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view" id="detail-14">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar15.jpg"  width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Ультрафіолетовий світлодіодний світильник </label>
                                <br clear="all" />

                                <p>
                                    Ультрафіолетовий світлодіодний світильник (опромінювач) призначений для знищення та інактивації вірусів, бактерій та інших патогенів, що передаються повітряно-краплинним шляхом. Має високу ефективність щодо вірусу грипу та коронавірусу. Рекомендований фахівцями вірусологами як засіб профілактики коронавірусу. Джерелом ультрафіолетового випромінювання є новітні ультрафіолетові світлодіоди діапазону УФ-А та УФ-С, потужність та довжина хвилі випромінювання яких спеціально підібрана з точки зору бактерицидної ефективності та безпечних еритемних дій.
                                    <br clear="all" /><br clear="all" />
                                                      <span class="price">8250.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view" id="detail-15">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar16.jpeg" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Вилка стаціонарна ССИ-523 32А-6ч/200-250В </label>
                                <br clear="all" />

                                <p>
                                    Оригінальна конструкція силових роз'ємів MAGNUM розроблена інженерами IEK у суворій відповідності до вимог міжнародних та російських стандартів та з урахуванням побажань споживачів – професійних електриків та монтажників. Конструктивне рішення силових роз'ємів MAGNUM поєднує в собі найкращий світовий досвід у поєднанні з спеціалізованими унікальними доробками інженерів IEK.

                                    Прогресивні конструкторські рішення у поєднанні із застосуванням високоякісних матеріалів та високим рівнем якості виробництва гарантують високу надійність та безпеку конструкції, ергономічність та екологічність виробів, максимальну зручність монтажу та демонтажу силових роз'ємів MAGNUM.
                                    <br clear="all" /><br clear="all" />
                                                      <span class="price">186.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>
                        <div class="detail-view" id="detail-16">

                            <div class="close" align="right">
                                <a href="javascript:void(0)">x</a>

                            </div>

                            <img src="~/images/tovar17.jpg" width="222" height="222" class="detail_images" alt="" />

                            <div class="detail_info">

                                <label class='item_name'>Колодка підключення КП-125 (125А)</label>
                                <br clear="all" />

                                <p>
                                    Комутаційна колодка NIK КП125 працює при значеннях максимальної сили струму в 125 А та забезпечує монтаж та демонтаж трифазних лічильників електроенергії у місці обліку без відключення навантаження. Вона усуває необхідність відключення навантаження та запобігає порушенню обліку електричної енергії підключеним до колодки лічильником.
                                    При розімкнених перемичках ізоляція між струмовідними частинами різних фаз колодки здатна протягом 1 хвилини витримувати напругу змінного струму синусоїдальної форми 2000 В частотою 50 Гц. А затискачі колодки можуть витримати 10-кратне навантаження по струму протягом 0,5 с. Колодка призначена для застосування в закритому приміщенні без агресивних парів, пилу та газів та відповідає ГОСТ 22266 за кліматичними та механічними вимогами.
                                    <br clear="all" /><br clear="all" />
                                                      <span class="price">745.00</span> грн

                                </p>

                                <br clear="all" />

                                <button class="add-to-cart-button">В кошик</button>

                            </div>

                        </div>

                        <br clear="all" />
                    </ul>
                    <br clear="all" />
                </div>


            </div>

        </div>
    </div>
    <div class="content-sidebar">
        <h4>Категорії</h4>
        <ul>
            <li><a href="#">Кабель, провід</a></li>
            <li><a href="#">Автоматика</a></li>
            <li><a href="#">Системи для прокладання кабелю</a></li>
            <li><a href="#">Кабельна арматура</a></li>
            <li><a href="#">Шафи, бокси, корпуси</a></li>
            <li><a href="#">Датчики, розетки, вимикачі, подовжувачі</a></li>
            <li><a href="#">Світлотехніка</a></li>
            <li><a href="#">Вимірювальні прилади</a></li>
            <li><a href="#">Стабілізатори, лічильники, ЯТП, тепла підлога </a></li>
            <li><a href="#">Інструмент, силові роз'єми, хомути, ізолента, маркери</a></li>
            <li><a href="#">Мережеве обладнання </a></li>
            <li><a href="#">Сонячні електростанції</a></li>
        </ul>
    </div>
</div>
<div class="clear"> </div>
		    

<script src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="~/js/jquery.livequery.js"></script>
<link href="~/css/style1.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {

        var Arrays = new Array();

        $('.add-to-cart-button').click(function () {

            var thisID = $(this).parent().parent().attr('id').replace('detail-', '');

            var itemname = $(this).parent().find('.item_name').html();
            var itemprice = $(this).parent().find('.price').html();

            if (include(Arrays, thisID)) {
                var price = $('#each-' + thisID).children(".shopp-price").find('em').html();
                var quantity = $('#each-' + thisID).children(".shopp-quantity").html();
                quantity = parseInt(quantity) + parseInt(1);

                var total = parseInt(itemprice) * parseInt(quantity);

                $('#each-' + thisID).children(".shopp-price").find('em').html(total);
                $('#each-' + thisID).children(".shopp-quantity").html(quantity);

                var prev_charges = $('.cart-total span').html();
                prev_charges = parseInt(prev_charges) - parseInt(price);

                prev_charges = parseInt(prev_charges) + parseInt(total);
                $('.cart-total span').html(prev_charges);

                $('#total-hidden-charges').val(prev_charges);
            }
            else {
                Arrays.push(thisID);

                var prev_charges = $('.cart-total span').html();
                prev_charges = parseInt(prev_charges) + parseInt(itemprice);

                $('.cart-total span').html(prev_charges);
                $('#total-hidden-charges').val(prev_charges);

                var Height = $('#cart_wrapper').height();
                $('#cart_wrapper').css({ height: Height + parseInt(45) });

                $('#cart_wrapper .cart-info').append('<div class="shopp" id="each-' + thisID + '"><div class="label">' + itemname + '</div><div class="shopp-price"> <em> ' + itemprice + '</em></div><span class="shopp-quantity">1</span><img src="~/images/close.png" class="remove" /><br class="all" /></div>');

            }

        });

        $('.remove').livequery('click', function () {

            var deduct = $(this).parent().children(".shopp-price").find('em').html();
            var prev_charges = $('.cart-total span').html();

            var thisID = $(this).parent().attr('id').replace('each-', '');

            var pos = getpos(Arrays, thisID);
            Arrays.splice(pos, 1, "0")

            prev_charges = parseInt(prev_charges) - parseInt(deduct);
            $('.cart-total span').html(prev_charges);
            $('#total-hidden-charges').val(prev_charges);
            $(this).parent().remove();

        });

        $('#Submit').livequery('click', function () {

            var totalCharge = $('#total-hidden-charges').val();

            $('#cart_wrapper').html('Загальна сума: ' + totalCharge);

            return false;

        });

        // this is for 2nd row's li offset from top. It means how much offset you want to give them with animation
        var single_li_offset = 200;
        var current_opened_box = -1;

        $('#wrap li').click(function () {

            var thisID = $(this).attr('id');
            var $this = $(this);

            var id = $('#wrap li').index($this);

            if (current_opened_box == id) // if user click a opened box li again you close the box and return back
            {
                $('#wrap .detail-view').slideUp('slow');
                return false;
            }
            $('#cart_wrapper').slideUp('slow');
            $('#wrap .detail-view').slideUp('slow');

            // save this id. so if user click a opened box li again you close the box.
            current_opened_box = id;

            var targetOffset = 0;

            // below conditions assumes that there are four li in one row and total rows are 4. How ever if you want to increase the rows you have to increase else-if conditions and if you want to increase li in one row, then you have to increment all value below. (if(id<=3)), if(id<=7) etc

            if (id <= 3)
                targetOffset = 0;
            else if (id <= 7)
                targetOffset = single_li_offset;
            else if (id <= 11)
                targetOffset = single_li_offset * 2;
            else if (id <= 15)
                targetOffset = single_li_offset * 3;

            $("html:not(:animated),body:not(:animated)").animate({ scrollTop: targetOffset }, 800, function () {

                $('#wrap #detail-' + thisID).slideDown(500);
                return false;
            });

        });

        $('.close a').click(function () {

            $('#wrap .detail-view').slideUp('slow');

        });

        $('.closeCart').click(function () {

            $('#cart_wrapper').slideUp();

        });

        $('#show_cart').click(function () {

            $('#cart_wrapper').slideToggle('slow');

        });

    });

    function include(arr, obj) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == obj) return true;
        }
    }

    function getpos(arr, obj) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == obj) return i;
        }
    }</script>